<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<div class ="container">
  <strong><%= notice %></strong>
  <div class ="row">
    <div class ="top_image col-lg-7 offset-lg-1 mt-3">
     <div class ="back_image">
       <h4 class ="text justify-content-center offset-lg-1 mt-3">
         <br>
         <br>
        ようこそ！<br>
        このサイトは、ロケ地のレビューが集まったコミュニティサイトになります。<br>
        会員でない方も情報の閲覧はできますが、<br>
        投稿やコメント等には会員登録が必要になります。
       </h4>
      </div>
    </div>
  </div>
</div>